<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>Merch Store</title>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <h1>
        {{ item.product_name }}
    </h1>
    <p>
        Type: {{ item.product_type.type_name }}
    </p>
    <p>
        Description: {{ item.product_description }}
    </p>
    <p>
        Price: {{ item.product_price }}
    </p>

    <a href="{% url 'items_list' %}">Back to Product List</a>
</body>
<footer>
    <p>Copyright 2025 by Group 5. All rights reserved.</p>
</footer>
</html>