{% extends 'home_page.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Welcome to Our Merch Store!</h1>
    <p class="text-center">Click any of our items.</p>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for item in items %}
        <div class="col">
            <div class="card h-100 shadow">
                <img src="{% static '' %}{{ item.product_image }}" class="card-img-top" alt="{{ item.product_name }}">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'items_details' item.id %}" class="text-decoration-none">
                            {{ item.product_name}}
                        </a>
                    </h5>
                    <p class="card-text">
                        Price: {{ item.product_price }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}