{% extends 'base_template.html' %}

<!-- <!DOCTYPE html>
<html lang="en-us">
<head>
    <title>Lab</title>
</head> -->
<body>
    {% block body_content %}
        <h1>Recipe Book</h1>
        <p>Hello! Welcome to your recipe book!</p>
        <p>Click any of the links below for the recipe:</p>
        <ul>
            {% for recipe in recipes %}
            <li><a href="{% url 'recipe_ingredients' recipe.id %}">{{ recipe.recipe_name }}</a></li>
            {% endfor %}
        </ul>
    {% endblock %}
    </body>
<!-- </html> -->